@media (width > 768px){
    .mobilemap{
        display: none;
    }
    .tabletmap{
        display: block;
    }
    .mobilenone{
        display: block;
        z-index: 11;
        margin-top: -350px;
    }
    .firsthtml{
        margin-top: -338px;
        margin-left: -425px;
    }
    .section2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 68px;
        margin-top: 527px;
    }
    .s2t1{
        margin-top: -150px;
    }
    h1{
        width: 223px;
    }
    .section3{
        height: 216px;
    }
    .s3b1{
        display: flex;
        flex-direction: row;
        column-gap: 70px;
    }
    h4{
        width: 281px;
    }
}