@media (width > 768px){
    .mobilemap{
        display: none;
    }
    .tabletmap{
        display: block;
    }
    .mobilenone{
        display: block;
        z-index: 11;
        margin-top: -350px;
    }
    .firsthtml{
        margin-top: -600px;
        margin-left: -425px;
    }
    .section2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 68px;
    }
    .s2t1{
        margin-top: -150px;
    }
    h1{
        width: 223px;
    }
    .section3{
        height: 216px;
    }
    .s3b1{
        display: flex;
        flex-direction: row;
        column-gap: 70px;
    }
    h4{
        width: 281px;
    }
    .dskp{
        display: none;
    }
}




@media (width > 1440px){
    .section2{
        column-gap: 300px;
        height: 548px;
    }
    h1{
        width: 350px;
        font-size: 70px;
        line-height: 70px;
        margin-top: 60px;
    }
    h2{
        width: 350px;
        font-size: 36px;
        line-height: 36px;
    }
    h3{
        width: 445px;
        font-size: 22px;
        line-height: 32px;
    }
    .mb{
        display: none;
    }
    .dskp{
        display: block;
    }
    .s3b1{
        column-gap: 200px;
    }
    h4{
        width: 430px;
        font-size: 18px;
        line-height: 28px;
    }
    .firsthtml{
        margin-left: -870px;
    }
}